<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 50px">
            <mat-card style="margin: 50px 0">
                <div *ngIf="book">
                    <h3>Old Product</h3>
                    <b>Name: </b>
                    <i style="color: #f92672">{{book.name}}</i><br>
                    <b>DateOfManufacture: </b>
                    <i style="color: #f92672">{{book.author}}</i><br>
                    <b>Description: </b>
                    <i style="color: #f92672">{{book.description}}</i>
                </div>
            </mat-card>
        </div>
    </div>
</div>
